.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin: 10px 10px 10px 10px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.forget-password {
    color: #007bff;
    text-decoration: none;
}

.forget-password:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.social-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px; /* Add margin to create space between icons */
}

.social-button i {
    font-size: 20px;
    color: #555;
}

.social-button.google {
    background-color: #db4437;
    color: white;
}

.social-button.facebook {
    background-color: #3b5998;
    color: white;
}

.social-button.twitter {
    background-color: #1da1f2;
    color: white;
}

.social-button.linkedin {
    background-color: #0077b5;
    color: white;
}
